<p id="notice"><%= notice %></p>

<h1>GGO</h1>
<p>gun game otomodati</p>

<table>
  <thead>
    <tr>
      <th>ニックネーム</th>
      <th>機種</th>
      <th>目的</th>
      <th>ボイチャOK?</th>
      <th>フレンドコード-ID</th>
      <th>コメント</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @gungemes.each do |gungeme| %>
      <tr>
        <td><%= gungeme.name %></td>
        <td><%= gungeme.machine %></td>
        <td><%= gungeme.purpose %></td>
        <td><%= gungeme.vc %></td>
        <td><%= gungeme.friendid %></td>
        <td><%= gungeme.comment %></td>
        <td><%= link_to '詳細', gungeme %></td>
        <td><%= link_to '編集', edit_gungeme_path(gungeme) %></td>
        <td><%= link_to '削除', gungeme, method: :delete, data: { confirm: '本当に削除してもいいですか？' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '募集する', new_gungeme_path %>
