<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @gungeme.name %>
</p>

<p>
  <strong>Machine:</strong>
  <%= @gungeme.machine %>
</p>

<p>
  <strong>Purpose:</strong>
  <%= @gungeme.purpose %>
</p>

<p>
  <strong>Vc:</strong>
  <%= @gungeme.vc %>
</p>

<p>
  <strong>Friendid:</strong>
  <%= @gungeme.friendid %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @gungeme.comment %>
</p>

<%= link_to 'Edit', edit_gungeme_path(@gungeme) %> |
<%= link_to 'Back', gungemes_path %>
